.navbar {
  background-color: #ffff;
  border-bottom: 1px solid rgb(221, 219, 219);
  height: 61px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
}

.navbar .instalogo {
  width: 110px;
  height: 45px;
  cursor: pointer;
}

.searchSection {
  position: relative;
  width: 270px;
  margin-left: 230px;
  margin-right: 85px;
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 15px;
  color: grey;
}

.searchSection input {
  padding: 0 35px;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #efefef;
  outline: none;
  font-size: 15px;
}

.menus {
  width: 280px;
  display: flex;
  justify-content: space-evenly;
}

.menuIcons {
  /* width: 25px; */
  font-size: 25px;
  cursor: pointer;
}

.profile {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

a {
  color: black;
}
