body {
  background-color: #fafafa;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --blue: rgb(0, 149, 246);
  --lightGrey: rgb(142, 142, 142);
  --darkblue: #0095f6;
  --bordergrey: rgb(221, 219, 219);
  --black: rgb(38, 38, 38);
}

.navbar .active {
  color: rgb(231, 21, 56);
  color: rgb(92, 91, 91);
}

.profileLinks .active {
  border-top: 1px solid black;
  color: var(--black) !important;
}
